In [1]:
import pandas as pd
import numpy as np
import ast
import re

df = pd.read_csv("../data/raw/lmsys/chatbot_arena_kaggle2024_train.csv", dtype={"prompt": str, "response_a": str, "response_b": str, "model_a": str, "model_b": str})

print(f"Original dataset size: {len(df)}")

# get sum of all appearances of each model
vc_a = df["model_a"].value_counts()
vc_b = df["model_b"].value_counts()
combined_vc = pd.concat([vc_a, vc_b]).groupby(level=0).sum()
combined_vc = combined_vc.sort_values(ascending=False)
print("Model counts (appearances as either model A or B):")
pd.set_option('display.max_rows', None)
print(combined_vc)
pd.reset_option('display.max_rows')

# select datapoints with subset of models
model_list = ['gpt-4-1106-preview', 'gpt-3.5-turbo-0613', 'claude-2.1', 'claude-2.0', 'claude-1', 'gpt-4-0314', 'llama-2-70b-chat', 'llama-2-13b-chat', 'llama-2-7b-chat', 'mixtral-8x7b-instruct-v0.1', "gpt-4-0613", "tulu-2-dpo-70b", "vicuna-33b"]
df = df[df['model_a'].isin(model_list) & df['model_b'].isin(model_list)]

# remove ties
df = df[df['winner_tie'] == 0]

# get number of prompts and responses per model
def convert_to_list(list_str):
    try:
        # fiz invalid escape sequence issue
        list_str = list_str.replace(r'\/', '/')
        return ast.literal_eval(list_str)
    except Exception as e:
        try:
            # replace null with None, note this may very slightly affect the string meaning
            list_str = re.sub("null", "None", list_str)
            return ast.literal_eval(list_str)
        except Exception as e2:
            print("Error parsing:", list_str)
            print(e)
            print(e2)
            return []

for col in ["prompt", "response_a", "response_b"]:
    df[col] = df[col].apply(convert_to_list)
    df[col + "_length"] = df[col].apply(len)
    df[col] = df[col].apply(lambda x: x[0] if len(x) > 0 else None)

# filter out row with either prompt/response_a/response_b being len more than 1
df = df[(df["prompt_length"] == 1) & (df["response_a_length"] == 1) & (df["response_b_length"] == 1)]

# drop rows with na in prompt, response_a, response_b
size_with_na = len(df)
df = df.dropna(subset=["prompt", "response_a", "response_b"])
size_without_na = len(df)
print(f"Size with na: {size_with_na}, size without na: {size_without_na}, number of rows removed: {size_with_na - size_without_na}")

# add winner_model and loser_model columns
df['winner_model'] = df.apply(lambda x: x['model_a'] if x['winner_model_a'] == 1 else x['model_b'], axis=1)
df['loser_model'] = df.apply(lambda x: x['model_a'] if x['winner_model_a'] == 0 else x['model_b'], axis=1)

# check if each col of prompt, response_a, response_b is encodable in utf-8
# drop rows that are not encodable
import warnings
warnings.filterwarnings("error")

for col in ["prompt", "response_a", "response_b"]:
    for i, row in df.iterrows():
        try:
            row[col].encode("utf-8", errors="strict")
        except Exception as e:
            print(f"Error encoding {col} for row {i}: {e}")
            df.drop(i, inplace=True)

Original dataset size: 57477
Model counts (appearances as either model A or B):
gpt-4-1106-preview                7387
gpt-3.5-turbo-0613                7083
gpt-4-0613                        6165
claude-2.1                        5583
claude-instant-1                  4136
gpt-4-0314                        4122
claude-1                          3978
vicuna-33b                        3720
mixtral-8x7b-instruct-v0.1        3545
vicuna-13b                        3448
llama-2-70b-chat                  3428
gpt-3.5-turbo-1106                3352
mistral-medium                    3315
llama-2-13b-chat                  2607
claude-2.0                        2456
zephyr-7b-beta                    2401
palm-2                            1977
llama-2-7b-chat                   1793
wizardlm-70b                      1644
openchat-3.5                      1632
mistral-7b-instruct               1617
koala-13b                         1598
vicuna-7b                         1591
wizardlm-13b                      1580
oasst-pythia-12b                  1494
gemini-pro-dev-api                1486
codellama-34b-instruct            1474
yi-34b-chat                       1447
gemini-pro                        1438
pplx-70b-online                   1420
alpaca-13b                        1403
gpt-3.5-turbo-0314                1302
chatglm-6b                        1261
pplx-7b-online                    1250
tulu-2-dpo-70b                    1200
gpt-4-0125-preview                1160
RWKV-4-Raven-14B                  1158
starling-lm-7b-alpha              1134
qwen-14b-chat                     1072
fastchat-t5-3b                    1021
chatglm3-6b                        989
openhermes-2.5-mistral-7b          952
mpt-7b-chat                        928
stripedhyena-nous-7b               914
solar-10.7b-instruct-v1.0          899
gpt-3.5-turbo-0125                 861
dolly-v2-12b                       800
deepseek-llm-67b-chat              795
stablelm-tuned-alpha-7b            771
guanaco-33b                        684
llama2-70b-steerlm-chat            667
mpt-30b-chat                       598
chatglm2-6b                        564
qwen1.5-72b-chat                   551
llama-13b                          547
zephyr-7b-alpha                    412
gpt4all-13b-snoozy                 408
dolphin-2.2.1-mistral-7b           373
nous-hermes-2-mixtral-8x7b-dpo     325
falcon-180b-chat                   286
openchat-3.5-0106                  244
qwen1.5-7b-chat                    208
qwen1.5-4b-chat                    200
mistral-7b-instruct-v0.2           100
Name: count, dtype: int64
Size with na: 8174, size without na: 8172, number of rows removed: 2
Error encoding prompt for row 548: 'utf-8' codec can't encode characters in position 162-163: surrogates not allowed
Error encoding prompt for row 12339: 'utf-8' codec can't encode characters in position 47-48: surrogates not allowed
Error encoding prompt for row 13253: 'utf-8' codec can't encode characters in position 390-391: surrogates not allowed
Error encoding prompt for row 23102: 'utf-8' codec can't encode characters in position 85-86: surrogates not allowed
Error encoding prompt for row 27806: 'utf-8' codec can't encode characters in position 54-57: surrogates not allowed
Error encoding prompt for row 31557: 'utf-8' codec can't encode characters in position 187-188: surrogates not allowed
Error encoding prompt for row 36739: 'utf-8' codec can't encode characters in position 146-147: surrogates not allowed
Error encoding prompt for row 37936: 'utf-8' codec can't encode characters in position 293-294: surrogates not allowed
Error encoding prompt for row 38663: 'utf-8' codec can't encode characters in position 166-167: surrogates not allowed
Error encoding prompt for row 41769: 'utf-8' codec can't encode characters in position 141-144: surrogates not allowed
Error encoding prompt for row 48439: 'utf-8' codec can't encode characters in position 247-248: surrogates not allowed
Error encoding prompt for row 48645: 'utf-8' codec can't encode characters in position 739-740: surrogates not allowed
Error encoding prompt for row 49345: 'utf-8' codec can't encode characters in position 10-11: surrogates not allowed
Error encoding prompt for row 49379: 'utf-8' codec can't encode characters in position 293-294: surrogates not allowed
Error encoding prompt for row 49559: 'utf-8' codec can't encode characters in position 10-11: surrogates not allowed
Error encoding prompt for row 55487: 'utf-8' codec can't encode characters in position 33-34: surrogates not allowed
Error encoding response_a for row 147: 'utf-8' codec can't encode characters in position 40-43: surrogates not allowed
Error encoding response_a for row 440: 'utf-8' codec can't encode characters in position 1655-1662: surrogates not allowed
Error encoding response_a for row 1068: 'utf-8' codec can't encode characters in position 147-148: surrogates not allowed
Error encoding response_a for row 2085: 'utf-8' codec can't encode characters in position 385-386: surrogates not allowed
Error encoding response_a for row 2204: 'utf-8' codec can't encode characters in position 788-789: surrogates not allowed
Error encoding response_a for row 2473: 'utf-8' codec can't encode characters in position 11-12: surrogates not allowed
Error encoding response_a for row 3123: 'utf-8' codec can't encode characters in position 55-58: surrogates not allowed
Error encoding response_a for row 3575: 'utf-8' codec can't encode characters in position 9-10: surrogates not allowed
Error encoding response_a for row 4027: 'utf-8' codec can't encode characters in position 87-88: surrogates not allowed
Error encoding response_a for row 4740: 'utf-8' codec can't encode characters in position 6-7: surrogates not allowed
Error encoding response_a for row 4780: 'utf-8' codec can't encode characters in position 873-876: surrogates not allowed
Error encoding response_a for row 5259: 'utf-8' codec can't encode characters in position 171-172: surrogates not allowed
Error encoding response_a for row 8121: 'utf-8' codec can't encode characters in position 80-81: surrogates not allowed
Error encoding response_a for row 8220: 'utf-8' codec can't encode characters in position 69-70: surrogates not allowed
Error encoding response_a for row 8989: 'utf-8' codec can't encode characters in position 2175-2176: surrogates not allowed
Error encoding response_a for row 12263: 'utf-8' codec can't encode characters in position 10-11: surrogates not allowed
Error encoding response_a for row 13729: 'utf-8' codec can't encode characters in position 0-1: surrogates not allowed
Error encoding response_a for row 13785: 'utf-8' codec can't encode characters in position 292-293: surrogates not allowed
Error encoding response_a for row 14029: 'utf-8' codec can't encode characters in position 713-718: surrogates not allowed
Error encoding response_a for row 14306: 'utf-8' codec can't encode characters in position 92-93: surrogates not allowed
Error encoding response_a for row 15668: 'utf-8' codec can't encode characters in position 188-191: surrogates not allowed
Error encoding response_a for row 17375: 'utf-8' codec can't encode characters in position 80-81: surrogates not allowed
Error encoding response_a for row 18262: 'utf-8' codec can't encode characters in position 90-95: surrogates not allowed
Error encoding response_a for row 20145: 'utf-8' codec can't encode characters in position 0-1: surrogates not allowed
Error encoding response_a for row 22137: 'utf-8' codec can't encode characters in position 12-13: surrogates not allowed
Error encoding response_a for row 23064: 'utf-8' codec can't encode characters in position 130-133: surrogates not allowed
Error encoding response_a for row 25602: 'utf-8' codec can't encode characters in position 77-78: surrogates not allowed
Error encoding response_a for row 27211: 'utf-8' codec can't encode characters in position 49-50: surrogates not allowed
Error encoding response_a for row 28042: 'utf-8' codec can't encode characters in position 2-3: surrogates not allowed
Error encoding response_a for row 28432: 'utf-8' codec can't encode characters in position 215-216: surrogates not allowed
Error encoding response_a for row 28447: 'utf-8' codec can't encode characters in position 339-340: surrogates not allowed
Error encoding response_a for row 29029: 'utf-8' codec can't encode characters in position 2010-2011: surrogates not allowed
Error encoding response_a for row 30067: 'utf-8' codec can't encode characters in position 30-31: surrogates not allowed
Error encoding response_a for row 30239: 'utf-8' codec can't encode characters in position 11-12: surrogates not allowed
Error encoding response_a for row 32216: 'utf-8' codec can't encode characters in position 3-4: surrogates not allowed
Error encoding response_a for row 33429: 'utf-8' codec can't encode characters in position 206-207: surrogates not allowed
Error encoding response_a for row 34315: 'utf-8' codec can't encode characters in position 3-6: surrogates not allowed
Error encoding response_a for row 35027: 'utf-8' codec can't encode characters in position 126-129: surrogates not allowed
Error encoding response_a for row 35080: 'utf-8' codec can't encode characters in position 314-315: surrogates not allowed
Error encoding response_a for row 35746: 'utf-8' codec can't encode characters in position 283-286: surrogates not allowed
Error encoding response_a for row 36125: 'utf-8' codec can't encode characters in position 67-68: surrogates not allowed
Error encoding response_a for row 36141: 'utf-8' codec can't encode characters in position 326-327: surrogates not allowed
Error encoding response_a for row 37943: 'utf-8' codec can't encode characters in position 0-1: surrogates not allowed
Error encoding response_a for row 38376: 'utf-8' codec can't encode characters in position 100-101: surrogates not allowed
Error encoding response_a for row 40775: 'utf-8' codec can't encode characters in position 1831-1832: surrogates not allowed
Error encoding response_a for row 40992: 'utf-8' codec can't encode characters in position 0-5: surrogates not allowed
Error encoding response_a for row 41119: 'utf-8' codec can't encode characters in position 751-752: surrogates not allowed
Error encoding response_a for row 44542: 'utf-8' codec can't encode characters in position 173-174: surrogates not allowed
Error encoding response_a for row 45713: 'utf-8' codec can't encode characters in position 158-159: surrogates not allowed
Error encoding response_a for row 46039: 'utf-8' codec can't encode characters in position 772-773: surrogates not allowed
Error encoding response_a for row 46129: 'utf-8' codec can't encode characters in position 124-125: surrogates not allowed
Error encoding response_a for row 47291: 'utf-8' codec can't encode characters in position 126-127: surrogates not allowed
Error encoding response_a for row 48889: 'utf-8' codec can't encode characters in position 28-29: surrogates not allowed
Error encoding response_a for row 50040: 'utf-8' codec can't encode characters in position 78-81: surrogates not allowed
Error encoding response_a for row 50703: 'utf-8' codec can't encode characters in position 344-345: surrogates not allowed
Error encoding response_a for row 54686: 'utf-8' codec can't encode characters in position 0-57: surrogates not allowed
Error encoding response_a for row 55989: 'utf-8' codec can't encode characters in position 774-775: surrogates not allowed
Error encoding response_a for row 56126: 'utf-8' codec can't encode characters in position 311-312: surrogates not allowed
Error encoding response_a for row 56307: 'utf-8' codec can't encode characters in position 0-1: surrogates not allowed
Error encoding response_b for row 2031: 'utf-8' codec can't encode characters in position 0-1: surrogates not allowed
Error encoding response_b for row 4424: 'utf-8' codec can't encode characters in position 66-67: surrogates not allowed
Error encoding response_b for row 6264: 'utf-8' codec can't encode characters in position 329-330: surrogates not allowed
Error encoding response_b for row 10398: 'utf-8' codec can't encode characters in position 1646-1649: surrogates not allowed
Error encoding response_b for row 13746: 'utf-8' codec can't encode characters in position 257-258: surrogates not allowed
Error encoding response_b for row 14144: 'utf-8' codec can't encode characters in position 298-299: surrogates not allowed
Error encoding response_b for row 16091: 'utf-8' codec can't encode characters in position 79-80: surrogates not allowed
Error encoding response_b for row 16677: 'utf-8' codec can't encode characters in position 183-184: surrogates not allowed
Error encoding response_b for row 18673: 'utf-8' codec can't encode characters in position 394-399: surrogates not allowed
Error encoding response_b for row 20251: 'utf-8' codec can't encode characters in position 311-318: surrogates not allowed
Error encoding response_b for row 23147: 'utf-8' codec can't encode characters in position 22-27: surrogates not allowed
Error encoding response_b for row 26343: 'utf-8' codec can't encode characters in position 1344-1345: surrogates not allowed
Error encoding response_b for row 28393: 'utf-8' codec can't encode characters in position 2315-2316: surrogates not allowed
Error encoding response_b for row 29543: 'utf-8' codec can't encode characters in position 935-936: surrogates not allowed
Error encoding response_b for row 29814: 'utf-8' codec can't encode characters in position 245-246: surrogates not allowed
Error encoding response_b for row 30558: 'utf-8' codec can't encode characters in position 44-45: surrogates not allowed
Error encoding response_b for row 30645: 'utf-8' codec can't encode characters in position 777-778: surrogates not allowed
Error encoding response_b for row 31489: 'utf-8' codec can't encode characters in position 36-41: surrogates not allowed
Error encoding response_b for row 32659: 'utf-8' codec can't encode characters in position 36-37: surrogates not allowed
Error encoding response_b for row 33807: 'utf-8' codec can't encode characters in position 2078-2079: surrogates not allowed
Error encoding response_b for row 33925: 'utf-8' codec can't encode characters in position 361-364: surrogates not allowed
Error encoding response_b for row 38941: 'utf-8' codec can't encode characters in position 1666-1669: surrogates not allowed
Error encoding response_b for row 40426: 'utf-8' codec can't encode characters in position 282-285: surrogates not allowed
Error encoding response_b for row 41958: 'utf-8' codec can't encode characters in position 292-293: surrogates not allowed
Error encoding response_b for row 43687: 'utf-8' codec can't encode characters in position 184-185: surrogates not allowed
Error encoding response_b for row 46401: 'utf-8' codec can't encode characters in position 163-164: surrogates not allowed
Error encoding response_b for row 55589: 'utf-8' codec can't encode characters in position 171-172: surrogates not allowed

In [2]:
df

,id,model_a,model_b,prompt,response_a,response_b,winner_model_a,winner_model_b,winner_tie,prompt_length,response_a_length,response_b_length,winner_model,loser_model
33,2298796,gpt-4-1106-preview,claude-2.1,make a haiku on bacon the food,"Crisp strips of delight,\nSizzling dance, morn...",Here is a haiku about bacon:\n\nSizzling in pa...,1,0,0,1,1,1,gpt-4-1106-preview,claude-2.1
35,2802516,claude-2.0,claude-1,i have this: import logo from './ressources/lo...,The navigation is only visible on the root pat...,This is happening because you have defined the...,0,1,0,1,1,1,claude-1,claude-2.0
37,2912862,gpt-4-1106-preview,gpt-4-0613,"texts = [text.split() for text in df[""text_pro...",The code snippet you provided is used to creat...,The code you've provided is writing a vocab fi...,0,1,0,1,1,1,gpt-4-0613,gpt-4-1106-preview
45,3499263,gpt-4-0613,claude-1,write the lyrics to a rap song about some dude...,"(Verse 1)\nYo, let's take a minute, prepare to...",Here's an attempt at some rap lyrics about a d...,1,0,0,1,1,1,gpt-4-0613,claude-1
46,3503031,llama-2-13b-chat,gpt-4-0613,tell me a joke containing Tiger and Mobile phone?,"Sure, here's a joke for you:\n\nWhy did the ti...",Why don't tigers use mobile phones? \n\nBecaus...,0,1,0,1,1,1,gpt-4-0613,llama-2-13b-chat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57464,4294068603,gpt-4-0613,gpt-3.5-turbo-0613,"Sarah (female) has three brothers, her brother...",Sarah has two sisters.,Sarah has one sister.,0,1,0,1,1,1,gpt-3.5-turbo-0613,gpt-4-0613
57465,4294081229,gpt-4-0314,gpt-4-0613,please describe how the following two statemen...,The two statements can both be correct and not...,These two statements may seem contradictory at...,1,0,0,1,1,1,gpt-4-0314,gpt-4-0613
57467,4294254797,gpt-4-1106-preview,claude-2.0,can you provide a modular python code that wil...,Certainly! Below is a modular Python example t...,Here is a modular Python code to format SQL co...,1,0,0,1,1,1,gpt-4-1106-preview,claude-2.0
57472,4294656694,gpt-4-0613,claude-1,"A simple mnemonic for π:\n""How I wish I could ...","Sure, let's break it down:\n\n1. ""How"" has 3 l...",Here is how that mnemonic represents the digit...,1,0,0,1,1,1,gpt-4-0613,claude-1
57473,4294692063,claude-2.0,llama-2-13b-chat,"In python, implement a naive Bayes with gaussi...",Here is an implementation of a naive Bayes cla...,Sure! Here's an implementation of a naive Baye...,1,0,0,1,1,1,claude-2.0,llama-2-13b-chat

In [3]:
df["winner_model"].value_counts()

winner_model
gpt-4-1106-preview            1929
gpt-4-0613                    1122
claude-2.1                     846
gpt-3.5-turbo-0613             768
gpt-4-0314                     684
claude-1                       627
vicuna-33b                     474
mixtral-8x7b-instruct-v0.1     441
llama-2-70b-chat               404
claude-2.0                     341
llama-2-13b-chat               175
tulu-2-dpo-70b                 135
llama-2-7b-chat                124
Name: count, dtype: int64

In [4]:
df["loser_model"].value_counts()

loser_model
claude-2.1                    1472
gpt-3.5-turbo-0613            1133
gpt-4-0613                    1046
gpt-4-1106-preview             639
claude-1                       591
vicuna-33b                     556
mixtral-8x7b-instruct-v0.1     540
gpt-4-0314                     540
claude-2.0                     457
llama-2-70b-chat               408
llama-2-13b-chat               283
llama-2-7b-chat                215
tulu-2-dpo-70b                 190
Name: count, dtype: int64

In [5]:
len(df)

8070

In [6]:
# subselect 2k samples
# set random seed
#df_final = df.sample(2000, random_state=42)
df_final = df

In [8]:
# bucket ids into 8 evenly distributed buckets, to detect trends over time
df_final["id_bucket"] = pd.qcut(df_final["id"], 8, labels=False)
df_final["id_bucket"].value_counts()

id_bucket
0    1009
1    1009
3    1009
4    1009
6    1009
7    1009
2    1008
5    1008
Name: count, dtype: int64

In [9]:
import ast

#df_final = df_final.rename(columns={"response_a": "text_a", "response_b": "text_b"})
df_final["text_a"] = df_final["response_a"]
df_final["text_b"] = df_final["response_b"]
df_final["preferred_text"] = df_final.apply(lambda x: "text_a" if x["winner_model_a"] == 1 else "text_b", axis=1)

# format into correct text
# prepend instruction column to both text_a and text_b
for col in ["text_a", "text_b"]:
    df_final[col] = "Instruction:\n" + df_final["prompt"] + "\n\n\nAssistant:\n" + df_final[col]

# shuffle
df_final: pd.DataFrame = df_final.sample(frac=1, random_state=42)

df_final.to_csv(f"../data/processed/lmsys/chatbot_arena_kaggle2024_train_{len(df_final)}random_v3.csv", index=False)